/* Header */
header {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-lighter);
    box-shadow: .1em .1em .5em var(--dark);
}

header a {
    height: 100%;
    width: 100%;
    align-content: center;
    padding: 1em;
    cursor: pointer;
    border-bottom: .2em solid transparent;
    border-right: .08em solid var(--dark);
    color: var(--text);
}

header a:hover {
    border-bottom: .2em solid var(--primary) !important;
    background-color: var(--dark-lightest);
    text-decoration: none;
}

header a.active {
    background-color: var(--dark-lightest);
    border-bottom: .1em solid var(--primary);
}

/* Footer */
footer {
    background-color: var(--dark);
    padding: 1em;
}

/* Body */
.maincol {
    max-width: 85%;
    margin: 2em auto;
    padding: 1em 3em 3em 2em;
    background-color: var(--dark-column);
    border-radius: 10px;
}

.btn {
    padding: 1em;
    border-radius: .5em;
    background-color: var(--dark-lighter);
    color: var(--text);
    border: 1px solid var(--text);
    cursor: pointer;
    margin-top: 2em;
    margin-bottom: 1em;
}

.btn:hover {
    color: var(--primary);
    border-color: var(--primary);
    background-color: var(--dark-lightest);
}
